/* ----- RESETS ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    color: var(--gray-font);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----- REUSABLES ----- */
section{
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.container{
    max-width: 1200px;
    padding: 0 2%;
}

.small-line{
    margin-top: 7px;
    width: 70px;
    height: 2px;
    background-color: #ff5000;
}

/* button */
.button{
    padding: 10px 22px;
    color: white;
    border-radius: 24px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    cursor: pointer;
    transition: 0.4s;
}

.button.selected{
    color: var(--orange-color);
    background-color: white;
    border: 1px solid var(--orange-color);
}

/* icons */
.material-icons{
    font-family: 'Material Icons';
    font-size: 40px;
    line-height: 70px;
    color: var(--orange-color);
}

/* ----- VARIABLES ----- */
:root{
    --orange-color: #ff5000;
    --orange-darker: #ca551f;
    --gray-font: #343a40;

}

/* ----- HEADER ----- */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: transparent;
    transition: 0.4s;
}

header.scrolling{
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(231, 231, 231);
    transition: 0.4s;
}

header.scrolling ul li.selected a{
    color: white;
}

header.scrolling li.unselected a{
    color: var(--gray-font);
}

header .container{
    display: flex;
    max-width: none;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

header .logo{
    min-width: 210px;
    height: 90px;
    margin-left: 15px;
    background-color: var(--orange-color);
    border: 1px solid white;
}

/* nav */
nav ul{
    display: flex;
    margin-left: 15px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    scroll-behavior: smooth;
}

nav ul li{
    padding: 10px 22px;
    border-radius: 24px;
    cursor: pointer;
    background-color: transparent;
}

nav ul li.selected{
    background-color: var(--orange-color);
    color: white;
}

nav ul li a{
    color: white;
}

nav ul li.unselected a:hover{
    color: var(--orange-color);
    transition: color 0.4s;
}

/* mobile*/

/* hamburger menu */
.hamburger{
    display: none;
    text-align: center;
    border: 1px solid var(--orange-color);
    background-color: transparent;
    cursor: pointer;
}

.hamburger.lnr{
    padding: 5px 10px;
    line-height: 27px;
}

/* ----- HOME-BANNER ----- */
section.home-banner{
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45)), 
            url(../imagens/code-banner.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.home-banner .container{
    display: flex;
    align-items: center;
}

/* home-text */
.home-text{
    display: grid;
    width: 100%;
    margin-bottom: 80px;
    color: white;
    justify-items: center;
    text-align: center;
}

.home-text h2{
    font-size: 44px;
    font-weight: 700;
}

.home-text p{
    width: 80%;
    margin-top: 15px;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
}

/* ----- SOBRE ----- */
section.sobre{
    background-color: #343a40;
    color: white;
}

section.sobre .container{
    display: inline-block;
    align-items: center;
    justify-items: center;
}

.container .sobre-text {
    display: grid;
    margin: 77px 0;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.container .sobre-text h2{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.container .sobre-text p{
    width: 65%;
    margin: 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

/* ----- SERVICOS ----- */
section.servicos{
    background-color: white;
}

section.servicos .container{
    display: grid;
    align-items: center;
    text-align: center;
}

/* servicos-text */
.servicos-text{
    display: grid;
    justify-items: center;
}

.servicos-text h2{
    margin-top: 70px;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

.servicos-text p{
    margin-top: 20px;
    font-size: 14px;
}

/* cards */
.cards{
    margin-top: 30px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 80px;
    text-align: center;
}

.cards .card{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 100%;
    margin: 0 calc(2% / 2);
    padding: 0 12px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.card:hover > .material-icons{
    color: white;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    transition: 0.4s;
}

.card .icone{
    margin-top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid #f1f1f1;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    transition: 0.4s;
}

.card h2{
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.card p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;

}

/* ----- SERVICOS ----- */
section.caracteristicas{
    background-color: white;
    background-image: url(../imagens/mountain-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

section.caracteristicas .container{
    display: grid;
    align-items: center;
    text-align: center;
}

/* carac-text */
.carac-text{
    display: grid;
    justify-items: center;
    color: white;
}

.carac-text h2{
    margin-top: 75px;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

.carac-text p{
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
}

/* carac-itens */
.carac-itens{
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    margin-bottom: 75px;
}

.carac-item{
    display: flex;
    width: 50%;
    margin-bottom: 35px;
    color: white;
    text-align: center;
}

.carac-item .icone{
    min-width: 60px;
    height: 60px;
    border: 1px solid var(--orange-color);
    border-radius: 30px;
}

.lnr{
    font-size: 24px;
    line-height: 60px;
    font-family: 'Linearicons-Free';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: var(--orange-color);
    transition: 0.4s;
}

.carac-item:hover > .icone{
    color: white;
    background-color: var(--orange-color);
    transition: 0.4s;
}

.carac-item .icone:hover > img{
    display: none;
}

/* item-text */
.item-text{
    margin: 0 18px;
    text-align: left;
}

.item-text h2{
    font-size: 16px;
    text-transform: uppercase;
    color: var(--orange-color);
}

.item-text p{
    margin-top: 8px;
    font-size: 14px;
    line-height: 26px;
}

/* ----- SERVICOS ----- */
section.portfolio{
    background-color: white;
}

section.portifolio .container{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* port-text */
.port-text{
    display: grid;
    margin-top: 75px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.port-text h2{
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

.port-text p{
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
}

/* .port-nav */
.port-nav{
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    justify-content: center;
}

.port-nav ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.port-nav ul li{
    margin: 5px 5px;
    padding: 10px 40px;
    font-size: 12px;
    text-transform: uppercase;
}

.port-nav ul li.unselected:hover{
    background-color: var(--orange-darker);
    color: var(--orange-color);
    border: 1px solid var(--orange-darker);
}


/* trabalhos */
.trabalhos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 120px;
    width: 100%;
    justify-content: center;
    transition: 0.4s;
}

.trabalhos .thumb{
    display: grid;
    margin: 10px;
    min-width: calc((100% / 4) - 20px);
    align-items: center;
    justify-items: center;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    cursor: pointer;
}

.thumb.sites{
    background-color: rgb(50, 50, 50);
}

.thumb.apps{
    background-color: rgb(100, 100, 100);
}

.thumb.sistemas{
    background-color: rgb(150, 150, 150);
}

.thumb.ecommerce{
    background-color: rgb(200, 200, 200);
}

.thumb.portais{
    background-color: rgb(220, 220, 220);
}

/* thumb icone */
.trabalhos .thumb:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.4s;
}

.thumb:hover > .icone {
    opacity: 1;
    transition: 0.4s;
}

.thumb .icone{
    width: 60px;
    height: 60px;
    margin: 50px;
    opacity: 0;
    border-radius: 30px;
    border: 1px solid var(--orange-color);
    text-align: center;
    transition: 0.4s;
}

.thumb .icone:hover{
    background-color: var(--orange-color);
    color: white;
    transition: 0.4s;
}

/* ----- CAROUSEL ----- */
section.carousel{
    background-color: white;
}

section.carousel .container{
    display: grid;
    margin-bottom: 60px;
    justify-items: center;
    align-items: center;
}

.carousel-itens{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    scroll-behavior: auto;    
}

.carousel-item{
    margin: 0 5px;
    min-width: 100px;
    height: 100px;
    background-color: gray;
}

/* ----- CONTATO ----- */
section.contato{
    background-color: #343a40;
    color: white;
}

section.contato .container{
    display: flex;
    margin: 70px 0;
    justify-items: center;
}

.contato-text{
    width: 50%;
    justify-content: center;
    justify-items: center;
}

.contato-text h2{
    font-size: 34px;
    font-weight: 700;
}

.contato-text > p{
    margin-top: 40px;
    font-size: 14px;
    line-height: 24px;
}

/* links */
.links{
    margin-top: 20px;
    font-size: 14px;
}

.links p{
    margin: 15px 0;
}

.links a{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
    color: var(--orange-color);
}

.links p:nth-of-type(3) > a:hover, 
.links p:nth-of-type(4) > a:hover{
    background-color: #4867AA;
    transition: 0.4s;
}

/* form */
form{
    width: 50%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

textarea::placeholder, input::placeholder{
    color: lightgrey;
}

form input[type="text"], 
form input[type="tel"], 
textarea {
    padding: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    color: white;
    border: 1px solid white;
    background-color: #343a40;
}

input, textarea{
    margin-bottom: 15px;
}

input[type="text"]:focus, 
input[type="tel"]:focus, 
textarea:focus{
    outline: none;
    border: 1px solid var(--orange-color);
}

textarea{
    resize: vertical;
    min-height: 140px;
}

input[type="submit"]{
    padding: 14px 40px;
    width: fit-content;
    min-height: fit-content;
    border: none;
    outline: none;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background-color: var(--orange-darker);
    transition: 0.4s;
}

/* ----- FOOTER ----- */
footer{
    display: flex;
    padding: 35px 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #292f35;
}
footer p{
    margin-left: 5px;
}

/* ----- BACK-TO-TOP ----- */
.back-to-top{
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    padding: 2px 12px;
    font-size: 24px;
    border-radius: 5px;
    background-color: var(--orange-color);
    cursor: pointer;
    transition: 0.8s;
}
/* animation: name       duration timing-function delay iteration-count direction fill-mode play-state; */
/* animation: MoveToLeft 800ms     ease             0s            20 */
.back-to-top a{
    color: white;
}

.back-to-top.visible{
    display: block;
    visibility: visible;
    transition: 0.8s;
}


/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 864px) {
    /* header */
    .container .hamburger{
        display: block;
    }

    header nav{
        display: none;
    }
    
    /* header mobile*/
    header.mobile {
        height: 100vh;
        background-color: white;
    }
    
    header.mobile .container{
        flex-wrap: wrap;
    }
    
    header.mobile nav{
        display: block;
        width: 100%;
    }
    
    header.mobile nav ul{
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }
    
    header.mobile nav ul li{
        margin: 10px;
        padding: 20px 22px;
        width: 60%;
        border-radius: 30px;
    }
    
    header.mobile .unselected a{
        color: var(--gray-font);
    }

    /* servicos */
    .servicos .container{
        justify-items: center;
        width: 80%;
    }

    .cards{
        width: 100%;
        flex-flow: column;
        align-items: center;
    }

    .cards .card{
        width: 80%;
    }

    /* caracteristicas */
    .caracteristicas .container{
        justify-items: center;
    }

    .carac-text{
        width: 80%;
        justify-items: center;
        justify-content: center;
    }

    .carac-item{
        width: 80%;
    }

    .carac-itens{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    /* contato */
    section.contato .container{
        flex-flow: column;
        align-items: center;
    }

    form{
        margin-top: 60px;
    }

    footer{
        flex-direction: column;
    }
}